* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;

  line-height: 1.6;
}

.app__header{
  background-image: url('../public/paper-banner.jpg');
  box-shadow:;
  background-size: cover;
  height: 40vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content:flex-start;
  align-items: last baseline;
  padding-bottom: 50px;
  box-shadow: 0px 0px 8px rgba(0,0,0,.6);
}

.header-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  ;
}

body{
  background-color: #97959558;
  color: rgb(0, 0, 0);
}

.header-nav{
font-size: 52px;
}

.header-nav a {
  color: #a7a7a7;
  margin-right: 10px;
  font-size: 0.9rem;

}
.header-nav :hover{
  cursor: x;
}

.header-nav a.active {
  color: #222;
}

.site-footer {
  margin-top: 1rem;
  border-top: 1px dotted #adadad;
  text-align: center;
  color: #999;
  font-size: 0.75rem;
}


